{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="w3-content w3-section w-100">
        <img class="mySlides" src="{% static 'images/img123.jpg' %}" alt="No image" style="width:100%" height="500px">
        <div class="centered text-center">
            <h1 class=" fs-1 text-light"><strong>About Us</strong></h1>
        </div>
    </div>
    <div class="container">

       


            <div class="row shadow mt-5">

                
                <div class="col-lg-7 col-sm-8 m-4">
                    <h2 class="border-bottom border-4 border-success w-50 p-2">Our Journey</h2>
                    <p class="p-2" style="text-align:justify;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, sunt iusto aperiam deleniti, fugit laborum necessitatibus nisi itaque distinctio nesciunt fuga velit, eius totam minus accusamus modi illo dicta ducimus inventore! Cum blanditiis recusandae fuga accusamus officia, perferendis numquam reiciendis distinctio ratione cupiditate corrupti. Mollitia minus, et similique quod harum corporis magni a hic. Maiores praesentium architecto magni aliquid dolores unde ipsa nulla libero eos obcaecati fugiat sed asperiores facere repudiandae commodi esse, quo quis repellendus laborum aut. Consequatur atque veritatis illum architecto, sapiente libero perferendis impedit aliquid numquam voluptatum. Fugit inventore iste quo molestiae temporibus soluta deleniti reprehenderit! Accusantium.</p>    
                </div>

                <div class="col-4 py-5 my-5 border-start border-2 border-success">
                    <img src="{% static 'images/img3.jpg' %}" alt="" width="100%">
                </div>

            </div>


            <div class="row my-5">

                <div class="col-5 p-3 m-4 shadow">

                    <h3 class="text-center">Our Vission</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ut quod soluta error ad ea distinctio, sit numquam tempore ratione maiores ex praesentium nemo, autem, dignissimos est eligendi excepturi quas nesciunt. Est hic, non voluptatum voluptas, recusandae animi dolorum eligendi minima amet quas vel, exercitationem quam debitis provident. In, odio.</p>

                </div>
                <div class="col-5 p-3 m-4 shadow">

                    <h3 class="text-center">Our Mission</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ut quod soluta error ad ea distinctio, sit numquam tempore ratione maiores ex praesentium nemo, autem, dignissimos est eligendi excepturi quas nesciunt. Est hic, non voluptatum voluptas, recusandae animi dolorum eligendi minima amet quas vel, exercitationem quam debitis provident. In, odio.</p>

                </div>

            </div>
    

    </div>
{% endblock content %}
