<footer class="bg-success footer text-light"> 
    <div class="row">

        <div class="col-lg-3 col-sm-12">
            <p>Office Address :</p>
            <p class="ps-5">1808/A2 XYZ complex</p>
            <p class="ps-5">Mumbai - 400070</p>
        </div>
        <div class="col-lg-3 col-sm-12">
            <p>Phone No. :</p>
            <p class="ps-5">+91 7894561230</p>
            <p class="ps-5">+91 9894564235</p>
        </div>
        <div class="col-lg-3 col-sm-12">
            <p>Email-Id :</p>
            <p class="ps-5">elitebunglow@gmail.com</p>
            <p class="ps-5">elitebunglow@yahoo.com</p>
        </div>

        <div class="col-lg-3 col-sm-12">
            <p>Our Social-Media Handle :</p>

            <div class="container-fluid d-inline"><a href="#"><i id="fb" class="bi bi-facebook text-dark" style="font-size:large"></i></a></div>
            <div class="container-fluid d-inline"><a href="#"><i id="insta" class="bi bi-instagram text-dark" style="font-size:large"></i></a></div>
            <div class="container-fluid d-inline"><a href="#"><i id="tweet" class="bi bi-twitter text-dark" style="font-size:large"></i></a></div>
            <div class="container-fluid d-inline"><a href="#"><i id="gb" class="bi bi-google text-dark" style="font-size:large"></i></a></div>

        </div>

    </div>
</footer>